<% provide(:title, "About Us") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
<h1>StaticPages#about</h1>
<p>About Us</p>
</body>
</html>
